<% layout('/layouts/boilerplate') %>
<link rel="stylesheet" href="css/style.css">
<body>
    <h3>Edit your Listing!</h3>
    <form method="post" action="/listings/<%= listing._id %>?_method=PUT" novalidate class="needs-validation">
        
     <div class="row">
        <div class="col-8">

            <div class="mb-3">
                <lable for="validationCustom01" class="form-lable">Title</lable>
                <input name="listing[title]" value="<%= listing.title %>" type="text" class="form-control" id="validationCustom01"  required>
                <div class="invalid-feedback">
                    Title is Required !
                  </div>    
            </div>
            
            <div class="mb-3">
                <lable for="validationCustom02" class="form-lable">description</lable>
                <input name="listing[description]" value="<%= listing.description %>" type="text" class="form-control"id="validationCustom02"  required>
        
            </div>
        
            <div class="mb-3">
                <lable for="image" class="form-lable">image</lable>
                <input name="listing[image]" value="<%= listing.image %>" type="text" class="form-control">
        
            </div> 
            
            <div class="row">
                <div class="mb-3 col-4">
                    <lable for="validationCustom03" class="form-lable">price</lable>
                    <input name="listing[price]" value="<%= listing.price %>" type="number" class="form-control" id="validationCustom03"  required>
                    <div class="invalid-feedback">
                        Set a price ! 
                      </div>    
                </div> 

                <div class="mb-3 col-8">
                    <lable for="validationCustom04" class="form-lable">country</lable>
                    <input name="listing[country]" value="<%= listing.country %>" type="text" class="form-control" id="validationCustom04"  required>
            
                </div> 
            

            </div>
            
            <div class="mb-3">
                <lable for="validationCustom05" class="form-lable">location</lable>
                <input name="listing[location]" value="<%= listing.location %>" type="text" class="form-control" id="validationCustom05"  required>
        
            </div> 
            

    
        
        
        
        <button class="btn btn-dark add-btn">Edit!</button>
        
    </form>
</div>
</div>
</body>
</html>