<% layout('/layouts/boilerplate') %>
<body>
   <b><h3>Listing Details:</h3></b>
<div class="row">
   <div class="card" style="width:35rem; ">
      <img src="<%= listing.image %> " class="card-img-top" alt="Image" style="height:30rem;background-size:cover;">
      <div class="card-body">
        <h5 class="card-title"><b><%= listing.title %></b></h5>
        <p class="card-text"><%= listing.description %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">&#8377 <%= listing.price.toLocaleString("en-IN") %> /Night </li>
        <li class="list-group-item"><%= listing.location %></li>
        <li class="list-group-item"><%= listing.country %></li>
      </ul>
      <div class="card-body">
         <a href="/listings/<%= listing._id %>/edit" ><button class="btn btn-dark add-btn -3">Edit!</button></a>
         <a href="/listings/<%= listing._id %>?_method=Delete" ><button class="btn btn-dark add-btn">Delete!</button></a>
      
      </div>
    </div>
   </div>
   
    
</body>
 

 